@media (min-width:320px) and (max-width:575.99px) {

    /* -----navbar start */
    .navbar-toggler i {
        font-size: 18px;
        margin-right: -18px;
    }

    .navbar-brand img {
        width: 80%;
    }

    .navbar-toggler:focus {
        box-shadow: 0px 0px 0px transparent !important;
    }

    .navbar-toggler {
        border: 0px transparent;
    }

    .navbar-collapse {
        background: #00a2ff4b;
        border-radius: 10px;
    }

    .navbar-nav {
        padding: 40px 0px;
        align-items: center;
    }

    .nav-item {
        padding: 10px 0px;
    }

    .navber-button {
        display: inline-block;
        margin-bottom: 10px;

    }

    .navbar .navber-button {
        border: 1px solid rgba(244, 246, 252, 0.2);

        padding: 13px 19px;
        font-size: 14px;
        color: white;


        margin-left: 73px;




    }

    .navbar-nav .nav-item .nav-link:hover {
        color: #BBBBCB;
    }

    .navbar .navber-button:hover {
        background: transparent;
        color: white;

    }

    /* ----banner start--- */
    .bannerpart h1 {
        font-size: 35px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: white;
        line-height: 50px;

    }

    .bannerpart p {
        font-size: 14px;
        line-height: 24px;
        width: 299px;
        color: white;
        padding-top: 24px;
        padding-bottom: 48px;
    }

    .bannerpart .viewbutton {
        font-size: 14px;
        padding: 13px 15px;
        background: rgb(205, 202, 50);

    }

    .bannerpart .viewbutton:hover {
        background: rgb(205, 202, 50);
        color: #1B1C2B;


    }

    .pricingbutton {
        font-size: 14px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        color: white;
        margin-left: 17px;
        position: relative;
    }

    .pricingbutton {
        font-size: 14px;
        margin-left: 18px;


    }

    .pricingbutton i {


        left: 95px;

        visibility: visible;
    }

    .pricingbutton:hover i {
        left: 95px;
        visibility: visible;
    }

    .bannerpart {

        padding-top: 48px;
        padding-bottom: 100px;
    }

    .bannerpart .col-lg-6 img {
        width: 90%;
        margin-top: 40px;
    }

    .bannerpart .col-lg-6 {
        text-align: center;
    }


    /* ----work start */
    .workpart .part1 h2 {
        font-size: 35px;
        margin-left: 30px;
    }

    .workpart .part1 p {
        font-size: 14px;
        width: 299px;
        margin-left: 10px;
        padding-top: 4px;
        padding-bottom: 0px;
    }

    .workpart .part1 .touchbutton {
        font-size: 14px;
        margin-left: 64px;
        display: inline-block;
        margin-bottom: 20px;

    }

    .workpart .part1 .touchbutton i {

        top: 3px;
        left: 145px;
        visibility: visible;

    }

    .workpart .part1 .touchbutton:hover i {
        left: 145px;

    }

    .work .item {
        width: 100%;
        height: 196px;

        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        padding: 10px 5px;
        padding-left: 10px;
    }

    .work .item h3 {
        font-size: 25px;
    }

    .work .item p {
        font-size: 14px;

        width: 299px;

    }

    .workpart {

        padding-top: 49px;
        padding-bottom: 70px;
    }

    /* ----project start */
    .projectpart .box h4 {
        font-size: 33px;

        line-height: 0px;

        margin-bottom: 26px;
        width: 308px;
    }

    .projectpart .box {
        display: block;

    }

    .projectpart .box a {
        font-size: 14px;

        line-height: 30px;

        display: inline-block;
        margin-left: 92px;
        margin-bottom: 10px;
    }

    .viewbutton2 i {

        top: 7px;
        left: 81px;

    }

    .viewbutton2:hover i {
        left: 81px;
    }

    .projectpart .col-lg-8 .overlyani img {
        margin-bottom: 26px;
    }

    .overly {


        top: 0;
        left: 0;
        height: 80%;
        padding-top: 210px;

    }

    .overlyani:hover .overly {
        left: 0;
        overflow: hidden;


    }

    .overlyani {
        position: relative;
        overflow: hidden;
    }

    .overly h4 {

        opacity: 0;
    }

    .overly p {

        opacity: 0;
    }

    .overly a {
        opacity: 0;

    }

    .viewbutton3 {

        opacity: 0;
    }

    .viewbutton3 i {
        opacity: 0;
    }

    .viewbutton3:hover i {
        opacity: 0px;
    }

    .overly2 {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom right, rgba(28, 30, 83, 0.42), #1C1E53);
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 129px;
        padding-left: 56px;
        transition: .4s;


    }

    .overlyani2:hover .overly2 {
        right: 0;
        overflow: visible;


    }

    .overlyani2 {
        position: relative;
        overflow: hidden;
    }

    .overly2 h4 {
        font-size: 15px;
        font-weight: 600;
        line-height: 19px;
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        width: 195px;
        padding-top: -19px !important;
    }

    .overly2 a {
        font-size: 12px;
        font-weight: 500;
        line-height: 28px;
        font-family: "Poppins", sans-serif;
        color: #FCD980;
        width: 293px;
    }

    .viewbutton4 i {
        position: absolute;
        top: 5px;
        left: 90px;
        transition: .5s;
    }

    .viewbutton4:hover i {
        left: 90px;
    }

    .projectpart {
        padding-top: 85px;
        padding-bottom: 80px;
    }

    /* ----Design start */
    .designpart .design h4 {
        font-size: 33px;

        line-height: 45px;

        width: 304px;

    }

    .item1 {
        width: 100%;
        height: 320px;

        padding-left: 27px;
        padding-top: 50px;
    }

    .designpart .designitem .item1 h4 {
        width: 314px;
        font-size: 20px;
        line-height: 30px;

        margin-top: 12px;
        margin-bottom: 22px;
    }

    .designpart .designitem .item1 p {
        width: 254px;
        font-size: 14px;
        line-height: 26px;

    }

    .item2 {
        width: 100%;
        height: 320px;

        padding-left: 27px;
        padding-top: 50px;
    }

    .designpart .designitem .item2 h4 {
        width: 314px;
        font-size: 20px;
        line-height: 30px;

        margin-top: 12px;
        margin-bottom: 22px;
    }

    .designpart .designitem .item2 p {
        width: 254px;
        font-size: 14px;
        line-height: 26px;

    }

    .item3 {
        width: 100%;
        height: 320px;

        padding-left: 27px;
        padding-top: 50px;
    }

    .designpart .designitem .item3 h4 {
        width: 314px;
        font-size: 20px;
        line-height: 30px;

        margin-top: 12px;
        margin-bottom: 22px;
    }

    .designpart .designitem .item3 p {
        width: 254px;
        font-size: 14px;
        line-height: 26px;

    }

    .item4 {
        width: 100%;
        height: 320px;

        padding-left: 27px;
        padding-top: 50px;
    }

    .designpart .designitem .item4 h4 {
        width: 314px;
        font-size: 20px;
        line-height: 30px;

        margin-top: 12px;
        margin-bottom: 22px;
    }

    .designpart .designitem .item4 p {
        width: 254px;
        font-size: 14px;
        line-height: 26px;

    }

    .item5 {
        width: 100%;
        height: 320px;

        padding-left: 27px;
        padding-top: 50px;
    }

    .designpart .designitem .item5 h4 {
        width: 314px;
        font-size: 20px;
        line-height: 30px;

        margin-top: 12px;
        margin-bottom: 22px;
    }

    .designpart .designitem .item5 p {
        width: 254px;
        font-size: 14px;
        line-height: 26px;

    }

    .item6 {
        width: 100%;
        height: 320px;

        padding-left: 27px;
        padding-top: 50px;
    }

    .designpart .designitem .item6 h4 {
        width: 314px;
        font-size: 20px;
        line-height: 30px;

        margin-top: 12px;
        margin-bottom: 22px;
    }

    .designpart .designitem .item6 p {
        width: 254px;
        font-size: 14px;
        line-height: 26px;

    }

    .designpart {
        padding-top: 85px;
        padding-bottom: 80px;
    }

    /* ----about start */
    .aboutpart .col-lg-4 h4 {
        width: 298px;
        font-size: 33px;
        line-height: 45px;

        height: 92px;
        text-align: center;
    }

    .aboutpart .col-lg-4 p {
        width: 301px;
        font-size: 14px;
        line-height: 24px;

        padding-top: 1px;
        text-align: center;
    }

    .aboutpart .col-lg-8 h4 {
        width: 300px;
        font-size: 20px;
        line-height: 33px;

        height: 137px;
        text-align: center;
    }

    .aboutpart .col-lg-8 .aboutself .aboutpic h6 {

        padding-left: 31px;
    }

    .aboutpart .col-lg-8 .aboutself img {
        margin-left: 40px;
    }

    .aboutpart {

        padding-top: 85px;
        padding-bottom: 80px;
    }

    /* ----faq start */
    .faqpart .col-lg-4 h2 {
        width: 300px;
        font-size: 33px;
        line-height: 48px;

        height: 100px;
        text-align: center;
    }

    .faqpart .col-lg-4 a {
        width: 224px;
        font-size: 14px;
        line-height: 32px;

        display: inline-block;
        margin-left: 62px;
    }

    .faqpart .col-lg-8 p {
        font-size: 12px;
        line-height: 17px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: #282938;
        padding-left: 22px;
        margin: 4px 0px;
        width: 309px;
    }

    .faqpart .col-lg-8 .accordion-body {
        width: 362px;
        font-size: 13px;
        line-height: 32px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        color: #282938;
        margin-left: -7px;
        opacity: 80%;
    }

    .faqpart {
        padding: 85px 0px;
    }

    /* ----information start */
    .informationpart .overlyani001 h2 {
        font-size: 25px;
        line-height: 39px;
        font-weight: 600;
        width: 308px;
        height: 225px;
        color: #FFFFFF;
        font-family: "Poppins", sans-serif;
        text-align: center;
        display: inline-block;
        margin-left: -103px;
        margin-top: -30px;
    }

    .informationpart .overlyani001 p {
        font-size: 12px;
        line-height: 21px;
        font-weight: 400;
        width: 299px;
        height: 11px;
        color: #FFFFFF;
        font-family: "Poppins", sans-serif;
        margin-top: -110px;
        text-align: center;
        margin-left: -98px;
    }

    .informationpart .info2 h2 {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        width: 200px;
        /* text-align: center; */
        margin-left: -20px;
    }

    .informationpart .info2 p {

        font-size: 12px;

        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 26px;
        width: 299px;
        margin-left: -61px;
    }

    .informationpart .info2 .info002 {

        padding-top: 62px;

    }

    .informationpart input {
        width: 100%;
        margin: 8px 0px;
        padding: 25px 70px;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.22);
        border-radius: 8px;
        color: #F4F6FC;
        font-size: 14px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;


    }

    .informationpart input {
        width: 100%;
        margin: 8px 0px;
        padding: 13px 1px;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.22);
        border-radius: 8px;
        color: #F4F6FC;
        font-size: 14px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        margin-left: -50px;
    }

    .info2 .info002 .sendbutton {

        font-size: 14px;
        line-height: 13px;

        padding: 9px 70px;


        display: inline-block;

        margin-left: -35px;
    }

    .view .v5 {

        font-size: 14px;

        margin-left: -140px;
        margin-top: -20px;
    }

    .view .v5 i {
        position: absolute;
        left: 141px;
        top: 5px;
    }

    .info2 .info002 .view .v5:hover i {
        left: 141px;
        top: 5px;
    }
    /* ----blog start */
    .blogpart h2 {
	font-size: 35px;
	line-height: 15px;
	
}
.blogpart h2 {
	padding-top: 3px;
	padding-bottom: 49px;
}
.blogpart .col-lg-4 .card-body {
	padding: var(--bs-card-spacer-y) var(--bs-card-spacer-y);
	display: block;
}
.blogpart .col-lg-4 .card {
	margin-left: -12px;
	/* display: inline-block; */
	border: 0px;
	--bs-card-spacer-y: 0rem;
	display: contents;
}

.blogpart .col-lg-4 .card-body h5 {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	width: 306px;
	height: 57px;
	font-family: "Poppins", sans-serif;
	color: #282938;
	padding-top: 2px;
}
.blogpart .col-lg-4 .card-body p {
	font-weight: 400;
	font-size: 13px;
	line-height: 23px;
	width: 327px;
	height: 54px;
	font-family: "Poppins", sans-serif;
	color: #282938;
	opacity: 70%;
	padding-top: 16px;
}
.blogpart .col-lg-4 .card-body .readbutton{
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    width: 87px;
    height: 28px;
    font-family: "Poppins", sans-serif;
    color: #282938;
    position: relative;
    margin-top: 20px;
    display: inline-block;
}
.blogpart .col-lg-4 .card-body .readbutton i{
    position: absolute;
    top: 6px;
    left: 80px;
    transition: .5s;
}
.blogpart .col-lg-4 .card-body .readbutton:hover i{
    left: 80px;
}
.card-img, .card-img-top {
	
	margin-top: 20px;
}
.blogpart {
	padding-top: 85px;
	padding-bottom: 80px;
}
   /* ----last start */
}