a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}


.navbar{
    background: #1C1E53;
    padding: 16px !important;
   
}
.navbar .nav-item .nav-link{
    color: #BBBBCB;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 0px !important;
    transition: .5s;

  
    
}
.navbar-nav {
    column-gap: 32px;
    
    
}
.navbar-nav .nav-item .nav-link:hover{
    color: white;
}
.navbar .navber-button{
    border: 1px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    color: #ffffff;
    padding: 16px 48px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left: 48px;
    background: transparent;
    transition: .5s;
}
.navbar .navber-button:hover{
    background: rgb(203, 155, 32);
    /* border: transparent; */
    color: black;
}
.bannerpart h1{
    font-size: 54px;
    font-weight: 600;
     font-family: "Poppins", sans-serif;
     color: white;
     line-height: 74px;

}
.bannerpart p{
    font-size: 16px;
    font-weight: 500;
     font-family: "Poppins", sans-serif;
     line-height: 28px;
     width: 562px;
     color: white;
     padding-top: 24px;
     padding-bottom: 48px;

}
.bannerpart .viewbutton{
    font-size: 18px;
    font-weight: 600;
      font-family: "Manrope", sans-serif;
     line-height: 32px;
     color: #1B1C2B;
     padding: 16px 56px;
     border: 1px solid blanchedalmond;
     background: rgb(205, 202, 50);
     border-radius: 41px;
     transition: .4s;
     

}
.bannerpart .viewbutton:hover{
    background: transparent;
    color: white;
    box-shadow: rgb(153, 153, 40);

}
    
    
    

.bannerpart{
    background: #1C1E53;
    padding-top: 126px;
    padding-bottom: 157px;
}
.pricingbutton{
    font-size: 16px;
    font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: white;
     margin-left: 40px;
     position: relative;

}
.pricingbutton i{
    position: absolute;
    top: 5px;
    left: 102px;
    transition: .5s;
    visibility: hidden;
}
.pricingbutton:hover i{
    left: 125px;
    visibility: visible;
}

